*{
    padding: 0;
    margin: 0;
}

html, body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenier{
    border: 5px solid black;
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.box{
    width: 164.6px;
    height: 164.6px;
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}